<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="container my-5 text-center">
  <h1 class="display-3">404</h1>
  <p class="lead">Vabandust, sellist lehte ei leitud.</p>
  <a href="/" class="btn btn-primary">Tagasi avalehele</a>
</main>

<%- include('partials/footer') %>